# Virtual environment
.venv/
venv/
ENV/

# Environment secrets
.env

# Python caching
__pycache__/
*.py[cod]
*$py.class

# IDE and Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
